<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solicitar examenes</title>
    <link rel="stylesheet" href="./../css/style.css">
</head>

<body>
    <div class="center-child">
        <div class="card xl-card">
            <h1 class="title text-blue">Solicitar examenes</h1>

            <hr>

            <form class="col fill">
                <div class="double-col">
                    <div class="cell">
                        <input type="number" name="cui" id="cui" required>
                        <label for="cui" class="required">CUI del paciente</label>
                    </div>

                    <div class="cell hidden deshidden s-none">
                        <a id="registrar" class="btn primary-btn">Registrar</a>
                    </div>

                    <hr class="mitad">

                    <div class="cell">
                        <select name="examen-1" id="examen-1">
                            <option value="" disabled selected>Escoja un tipo de examen</option>
                            <option value="sangre">Hematologia</option>
                            <option value="heces">Coprocultivo</option>
                            <option value="microbio">Microbiologia</option>
                        </select>
                        <label for="examen-1" class="required">Tipo de examen</label>
                    </div>

                    <div id="last" class="col fill">
                        <p class="bg-purple pill">
                            Fecha de entrega:
                            <span id="entrega-examen-1">21/12/2021 12:00</span>
                        </p>
                        <p class="bg-purple pill">
                            Codigo de muestra:
                            <span id="codigo-examen-1">Q7F3CO0</span>
                        </p>
                        <p class="bg-purple pill">
                            Precio:
                            <span id="precio-examen-1">Q0.00</span>
                        </p>
                    </div>

                    <hr class="mitad">

                    <hr class="hidden s-none">

                    <div id="add-btn" class="cell">
                        <input type="button" class="btn primary-btn" value="Añadir otro examen">
                    </div>
                </div>

                <hr>

                <input type="button" id="solicitar-btn" class="btn primary-btn print-cliente" value="Enviar Solicitud">
            </form>
        </div>
    </div>

    <script src="./../js/script.js"></script>
</body>

</html>