body {
    margin-left: 0;
    margin-right: 0;
}

.fit-top {
    margin: 0;
    height: fit-content;
    width: 100%;
}

.unidad {
    position: relative;
}

.unidad div {
    top: 2px;
    right: 2px;
    width: fit-content;
    height: 90%;
    padding: auto;
    position: absolute;
    min-width: 15%;
    font-size: small;
    text-align: center;
    border-left: 1px solid #104080;
    border-radius: 0 20px 20px 0;
}

nav#admin {
    margin-bottom: 10px;
    width: 100vw;
    display: grid;
    padding: 0;
    min-height: fit-content;
    place-items: center;
    grid-template-columns: repeat(4, 1fr);
}

a.center-child {
    display: grid;
    min-height: fit-content;
    place-items: center;
}

nav#admin .option {
    cursor: pointer;
    padding: 10px 0;
    height: 98%;
    width: 100%;
    text-align: center;
    background: linear-gradient(180deg, #d4effc 0, #ffffff 100%);
}

nav#admin a,
nav#admin a:link,
nav#admin a:visited,
nav#admin a:active {
    text-decoration: none;
}

nav#admin .option.selected {
    background: linear-gradient(180deg, #ddbaeb 0, #ffffff 90%);
}

nav#admin .option:hover {
    background: linear-gradient(180deg, #ddbaeb 0, #ffffff 90%);
}

.s-desnone {
    display: none !important;
}

@media (max-width: 767px) {
    nav#admin {
        margin-bottom: 0;
        height: 10vh;
        grid-template-columns: 1fr;
    }

    .s-desnone {
        display: grid !important;
    }

    nav#admin .option {
        border: 1px solid #ffffff 80;
        background: #d4effc;
        padding: 0;
    }

    nav#admin .option:not(.menu) {
        display: none;
    }

    nav#admin .option.selected {
        background: #ddbaeb;
    }

    nav#admin .option:hover {
        background: #ddbaeb;
        border: 1px solid #104080;
    }
}
